<div>
  <label>
    startDate
    <input type="datetime-local" [(ngModel)]="startDate">
  </label>
  <label>
    startDate
    <input type="datetime-local" [(ngModel)]="startDate">
  </label>
  <button (click)="getFromPast()">getFromPast</button>
</div>
<hr>
<div>
  <label>
    startDate
    <input type="datetime-local" [(ngModel)]="startRangeDate">
  </label>
  <label>
    startDate
    <input type="datetime-local" [(ngModel)]="endRangeDate">
  </label>
  <button (click)="getFromDateRange()">getFromDateRange</button>
</div>
<pre *ngFor="let item of log">{{item}}</pre>